{
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 80,
  "no-duplicate-variable": [
    true,
    "check-parameters"
  ],
  "no-var-keyword": true,
  "newline-before-return": true,
  "semi": true
}